

.header{
    background: url(img/header.png);
    position: absolute;
    width: 1440px;
    height: 780px;
    left: 0px;
    top: 0px;
}


.header__symbol-top{
    position: absolute;
    left: 100px;
    right: 55px;
    top: 20px;
    
    
}

.header__title-wildlife{
    position: absolute;
    width: 155px;
    height: 60px;
    left: 180px;
    top: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;


    text-transform: uppercase;

    color: #F7F7F7;
}

.header__img-blog{
    position: absolute;
    width: 50px;
    height: 60px;
    left: 840px;
    top: 20px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;



    color: #F7F7F7;

}


.header__img-contacts{
    position: absolute;
    width: 96px;
    height: 60px;
    left: 951px;
    top: 20px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;



    color: #F7F7F7;
}

.header__img-searchicon{
    position: absolute;
    left: 1100px;
    right: 20px;
    top: 35px;

}

.header__botton-signin{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1200px;
    top: 25px;

    font-family: Open Sans;
    color: #F7F7F7;
    background: none;
    font-size: 23px;

    border: 2px solid #CD6326;
    box-sizing: border-box;
    border-radius: 5px;
}


.survival__title-surv{
    position: absolute;
    width: 199px;
    height: 72px;
    left: 120px;
    top: 200px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;


    letter-spacing: 2px;

    color: #CD6326;
}

.survival__button-donate{

    position: absolute;
width: 160px;
height: 60px;
left: 120px;
top: 480px;

font-family: Roboto;
font-size: 23px;

background: #CD6326;
border-radius: 5px;

}



.survival__text-help{
    position: absolute;
    width: 274px;
    height: 108px;
    left: 120px;
    top: 323px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;



    color: #F7F7F7;
}

.latest-articles{
    background: #CCCCCC;
    position: absolute;
    width: 1440px;
    height: 1368px;
    left: 0px;
    top: 780px
}



.latest-articles__title-wrap{
    position: absolute;
    width: 324px;
    height: 72px;
    left: 558px;
    top: 100px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;

    text-align: center;

    color: #333333;

}

.latest-articles__text-top{
    position: absolute;
    width: 332px;
    height: 36px;
    left: 554px;
    top: 200px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;


    text-align: center;

    color: #666666;

}

.latest-articles__imgs-leftarrow{
    position: absolute;
    top: 500px;
    left: 100px;
}

.latest-articles__imgs-moose{
    position: absolute;
    top: 350px;
    width: 300px;
    height: 360px;
    left: 190px;

    border-radius: 0px;

}

.latest-articles__imgs-squirrel{
    position: absolute;
    top: 350px;
    width: 300px;
    height: 360px;
    left: 560px;

}

.latest-articles__imgs-bird{
    border-radius: 0px;
    position: absolute;
    top: 350px;
    width: 300px;
    height: 360px;
    left: 930px;

    border-radius: 0px;

}

.latest-articles__imgs-rightarrow{
    position: absolute;
    top: 500px;
    left: 1290px;

}

.latest-articles__text-bottom{
    position: absolute;
    width: 526px;
    height: 41px;
    left: 457px;
    top: 900px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;


    text-align: center;

    color: #333333;
}

.latest-articles__get-notified{
    position: absolute;
    width: 510px;
    height: 60px;
    left: 400px;
    top: 1849px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 60px;



    color: #666666;
}

.latest-articles__input{
    position: absolute;
    width: 400px;
    height: 36px;
    left: 70px;
    top: 0px;
    background: #CCCCCC;  
     
}

.latest-articles__button-send{
    position: absolute;
    color: #CCCCCC;
    width: 104px;
    height: 42px;
    left: 478px;
    top: 0px;
    font-family: Open Sans;
    font-size: 24px;

    background: #CD6326;
    border-radius: 0px 5px 5px 0px;
    


}

.footer{
    background: url(img/footer.png);
    position: absolute;
    width: 1440px;
    height: 360px;
    left: 0px;
    top: 2148px;

}