.wrapper{
    background: url(img/header.png);
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 780px;
  
}

.block-grey{
    display: flex;
    flex-direction: column;
    background: #CCCCCC;
    width: 1440px;
    height: 1368px;
    
}

.footer{
    background: url(img/footer.png);
    display:flex;
    flex-direction: column;
    width: 1440px;
    height: 360px;
   
}

